In [20]:
import requests
import pandas as pd

api_key = 'WKcNJUpn2qAaHbb00pJWYgopQCjja0NAiei8o7F4'

In [21]:
point_url = 'https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY'
params = {'api_key': api_key}

response = requests.get(endpoint_url, params=params)
data = response.json()

# Obtenez et affichez l'image
image_url = data['url']
print(f"Image URL: {image_url}")

Image URL: https://apod.nasa.gov/apod/image/2311/2023-11-17-1617_1632-Jupiter_Stereo1200.png

In [22]:
df.head()

,ID d'astéroïde,Nom de l'astéroïde,Diamètre minimal estimé en kilomètre,Magnitude absolue,Vitesse relative (km/s)
0,12345,Asteroid-1,0.5,15.2,25.6

In [23]:
df.dtypes

ID d'astéroïde                          object
Nom de l'astéroïde                      object
Diamètre minimal estimé en kilomètre    object
Magnitude absolue                       object
Vitesse relative (km/s)                 object
dtype: object

In [24]:
df.describe()

,ID d'astéroïde,Nom de l'astéroïde,Diamètre minimal estimé en kilomètre,Magnitude absolue,Vitesse relative (km/s)
count,1,1,1,1,1
unique,1,1,1,1,1
top,12345,Asteroid-1,0.5,15.2,25.6
freq,1,1,1,1,1

In [25]:
data = {
    'ID d\'astéroïde': ['12345'],
    'Nom de l\'astéroïde': ['Asteroid-1'],
    'Diamètre minimal estimé en kilomètre': ['0.5'],
    'Magnitude absolue': ['15.2'],
    'Vitesse relative (km/s)': ['25.6']
}

df = pd.DataFrame(data)
df

,ID d'astéroïde,Nom de l'astéroïde,Diamètre minimal estimé en kilomètre,Magnitude absolue,Vitesse relative (km/s)
0,12345,Asteroid-1,0.5,15.2,25.6

In [26]:
df.to_csv('donnees_asteroides.csv', index=False)